*.o
*.lo
.*.swp

.deps/
.libs/

Makefile
Makefile.in

/aclocal.m4
/autom4te.cache/
/config.guess
/config.log
/config.status
/configure
/depcomp
/install-sh
/m4/
/missing

/libswc.la
/i915/libi915.la
/testwm/testwm

