*.o
*.lo
.*.swp

protocol/wayland-drm-protocol.c
protocol/wayland-drm-server-protocol.h

.deps/
.libs/

Makefile
Makefile.in

/aclocal.m4
/ar-lib
/autom4te.cache/
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/
/missing

/libswc/libswc.la
/launch/liblaunch-protocol.la
/launch/libswc-launch.la

