*.o
*.lo
.*.sw*

protocol/swc-protocol.c
protocol/swc-server-protocol.h
protocol/wayland-drm-protocol.c
protocol/wayland-drm-server-protocol.h
protocol/xserver-protocol.c
protocol/xserver-server-protocol.h

/.deps/
/swc.pc
/libswc/libswc.a
/libswc/libswc.so*
/launch/swc-launch
/cursor/convert_font
/cursor/cursor_data.h
/example/wm

